<ion-view view-title="Forgot Password" class="view-bg">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="padding" ng-controller="fpCtrl">

        <div class="list list-inset" ng-show="resetform">

            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email" ng-model="email" ng-change="validate()">
            </label>

        </div>

        <div class="list card" ng-show="status">
            <div class="item item-avatar">
                <h1>{{header}}</h1>
            </div>

            <div class="item item-body">
                <p>
                    Your password reset instructions has been sent over the email!
                </p>
            </div>
        </div>

        <button class="button button-full button-positive" on-tap="onResetPassword()" ng-disabled="validate()" ng-show="resetform">
            Reset Password
        </button>


    </ion-content>
</ion-view>
