<ion-view view-title="Trips" class="view-bg">

    <ion-nav-bar class="bar-stable bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-plus" on-tap="openTripModal()">
            </button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <div class="bar bar-dark bar-subheader" ng-show="notificationCount > 0" on-tap="openNotifications()">
        <h2 class="title">{{notificationCount}} Notifications</h2>
    </div>

    <ion-nav-view name="menuContent"></ion-nav-view>


    <ion-content ng-class="{'has-subheader': notificationCount > 0}">

        <div class="card" ng-show="trips.length === 0 && associatedTrips.length === 0">
            <div class="item item-text-wrap">
                You are not tagged to any group. You can create a group!
            </div>
        </div>

        <div class="card" ng-show="trips.length > 0">
            <div class="item item-divider">
                Trips Organised -
            </div>

            <div class="item item-text-wrap item-icon-right" ng-repeat="trip in trips track by $index" on-tap="tripClicked($index)">

                <h2 class="positive">{{trip.tName}}</h2>
                <h4>{{trip.tDescription}}</h4>
                <h4>{{trip.memberCount !== undefined ? trip.memberCount : 0 }} Member(s)</h4>
                <h4>From : {{trip.tFromDate !== undefined ? trip.tFromDate : " Not Specified" }}</h4>
                <h4>To   : {{trip.tToDate !== undefined ? trip.tToDate : " Not Specified" }}</h4>
                <i class="icon ion-chevron-right"></i>

            </div>

        </div>

        <div class="card" ng-show="associatedTrips.length > 0">
            <div class="item item-divider">
                Trips you're part of -
            </div>

            <div class="item item-text-wrap item-icon-right" ng-repeat="trip in associatedTrips track by $index" on-tap="associatedTripClicked($index)">
                <h2 class="positive">{{trip.tName}}</h2>
                <h4>{{trip.tDescription}}</h4>
                <h4>{{trip.memberCount !== undefined ? trip.memberCount : 0 }} Member(s)</h4>
                <h4>From : {{trip.tFromDate !== undefined ? trip.tFromDate : " Not Specified" }}</h4>
                <h4>To   : {{trip.tToDate !== undefined ? trip.tToDate : " Not Specified" }}</h4>
                <i class="icon ion-chevron-right"></i>

            </div>

        </div>

    </ion-content>
</ion-view>
