<ion-view view-title="Near Me">

    <ion-nav-bar class="bar-stable bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>


    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>

    <ion-header-bar class="mapHeader-bar">
        <div id="map" data-tap-disabled="true"></div>
    </ion-header-bar>

    <ion-content class="has-subheader">

        <div class="list places-list">

            <a ng-repeat="item in items" class="item item-thumbnail-left track by $index" on-tap="placesClicked($index)">
                <img ng-src="{{ item.icon }}">
                <h2>{{ item.name }}</h2>
                <h4 class="positive" ng-show="item.opening_hours.open_now === true">Open Now</h4>
                <h4 class="assertive" ng-show="item.opening_hours.open_now === false">Closed</h4>
                <h4>Rating : {{ item.rating }}</h4>
                <h4>{{ item.vicinity }}</h4>
            </a>

        </div>

    </ion-content>
</ion-view>
